@page "/register"
@using GymClub.App.Components.Layout
@using Radzen
@using Radzen.Blazor
@inject RegistrationService _registrationService
@layout EmptyLayout

<div class="row">
	<div class="col-md-12">
		<div class="card mb-4">
			<div class="card-body">
				<div class="row">
					<div class="mb-3 col-md-6">
						<RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H6" required>User Name</RadzenText>
						<RadzenTextBox @bind-value="@_reqModel.UserName" Class="w-100" />
						<span style="color: red;" hidden="@(!string.IsNullOrEmpty(@_reqModel.UserName))">Gender is required.</span>
					</div>
					<div class="mb-3 col-md-6">
						<RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H6" required>Password</RadzenText>
						<RadzenTextBox @bind-value="@_reqModel.Password" Class="w-100" />
						<span style="color: red;" hidden="@(!string.IsNullOrEmpty(@_reqModel.Password))">Gender is required.</span>
					</div>
					<div class="mb-3 col-md-6">
						<RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H6" required>Phone</RadzenText>
						<RadzenTextBox @bind-value="@_reqModel.PhoneNo" Class="w-100" />
						<span style="color: red;" hidden="@(!string.IsNullOrEmpty(@_reqModel.PhoneNo))">Gender is required.</span>
					</div>
					<div class="mb-3 col-md-6">
						<RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H6">Gender</RadzenText>
						<RadzenTextBox @bind-value="@_reqModel.Gender" Class="w-100" />
						<span style="color: red;" hidden="@(!string.IsNullOrEmpty(@_reqModel.Gender))">Gender is required.</span>
					</div>
					<div class="mb-3 col-md-6">
						<RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H6">Date Of Birth</RadzenText>
						<RadzenTextBox @bind-value="@_reqModel.DateOfBirth" Class="w-100" />
					</div>
					<div class="mb-3 col-md-4">
						<div class="d-flex">
							<button type="submit" class="btn btn-primary" @onclick="SignUp">Sign Up</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

